---
---

@import "{{ site.theme }}";

@font-face {
  font-family: Abugida;
  src: url('../abugida.ttf') format('truetype');
}

ab {
  font-family: Abugida;
  white-space: pre;
  font-size: 0.5em;
}

table {
  width: 100%;
}

.button td:hover {
  background-color: #1c87c9cc;
  color: #ffffffcc;
}

.button td.disabled {
  background-color: #cccccc !important;
  color: #666666 !important;
  pointer-events: none;
}

.button td.disabled a {
  font-style: italic;
}

.button td:not(.disabled) a {
  font-weight: bold;
}

.button td {
  border-radius: 5px;
  background-color: #1c87c9;
  border-style: none;
  color: white;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-align: center;
  vertical-align: middle;
  padding: 0% 5% !important;
}

table.button {
  border-collapse: separate;
  border-spacing: 15px;
}

tbody {
  width: inherit;
}

.button a {
  color: #fff;
  text-decoration: none;
  display: block;
}
