---
---

@import "{{ site.theme }}";
@font-face {
  font-family: Abugida;
  src:url('../abugida.ttf') format('truetype');
}
ab {
  font-family: Abugida;
  white-space: pre;
  font-size: 0.5em;
}
.button {
  background-color: #1c87c9;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #1c87c9cc;
  color: #ffffffcc;
}
.button.disabled {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed;
}
td .button {
  margin: 0.5%;
}
table {
  width: 100%
}