---
---

@import "{{ site.theme }}";

@font-face {
  font-family: Abugida;
  src:url('../abugida.ttf') format('truetype');
}

ab {
  font-family: Abugida;
  white-space: pre;
  font-size: 0.5em;
}

.button {
  background-color: #1c87c9;
  border-radius: 5px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #1c87c9cc;
  color: #ffffffcc;
}
.button.disabled {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed;
}
.size-10 .button {
  width: 8.88%;
}
.size-5 .button {
  width: 18.75%;
}
.size-4 .button {
  width: 23.66%;
}
.size-3 .button {
  width: 31.83%;
}
.size-2 .button {
  width: 48.00%;
}
.size-1 .button {
  width: 100.00%;
}
table {
  width: 100%;
}
.size-1 .button,
.size-2 .button,
.size-3 .button,
.size-4 .button,
.size-5 .button,
.size-10 .button {
  margin: 1%;
}
.main-content {
  font-size: 2em;
}